@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

* {
	margin: 0;
}

body {
	background-color: #000000;

	padding-right: 35%;
	padding-left: 35%;

	font-family: 'Prompt', sans-serif;
	font-weight: 400;

	height: 60vh;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

h1 {
	color:  white;
	text-align: center;
	font-size: 30px;

	font-weight: 700;
}

main { 
	display: flex;
	flex-direction: column;
	gap: 10px;
}


div#body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.links {
	border: 2px solid white;
	padding-bottom: 4%;
	padding-top: 4%;
	text-align: center;
	width: calc(100% - 4px);
}

a {
	color: white;
	text-align: center;
	text-decoration: none;
}

a.link {
	display: block;
    font-size: 16px;
}

div.links:hover {
	background-color: white;
	color: #2e3138;
}

a#repositorio {
	text-align: center;
	font-size: 12px;
}

a#repositorio:hover {
	color: #999;
}

footer {
	color: white;
	text-align: center;
	font-size: 10px;
}

@media screen and (max-width: 760px) {
	body {
		padding-right: 5%;
		padding-left: 5%;
	}
	
	h1 {
		font-size: 20px;
	}

	a#repositorio {
		font-size: 8px;
	}
}