@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200&display=swap');

html, body {
    height: 95%;
    margin: 0px;
}

body {
	background-color: #1c1c1c;
	padding-top: 50px;
	padding-right: 35%;
	padding-left: 35%;
	font-family: 'Urbanist', sans-serif;
}

header {
	color:  white;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
	font-size: 30px;
}

img {
	width: 90px;
	height: 90px;
}

div.links {
	border: 2px solid white;
	margin-bottom: 3%;
	padding-bottom: 4%;
	padding-top: 4%;
	text-align: center;
	width: calc(100% - 4px);
}

a {
	color: white;
	text-align: center;
	text-decoration: none;
}

a.link {
	display: block;
	font-weight: bold;
    font-size: 16px;
}

div.links:hover {
	background-color: white;
	color: #2e3138;
}

a.link:hover{
	color: #2e3138;
}

a#repositorio:hover {
	color: #999;
}

footer {
	text-align: center;
	font-size: 12px;
    margin-top: -1%;
}

@media screen and (max-width: 760px) {
	body {
		padding-right: 5%;
		padding-left: 5%;
	}
	
	header {
		font-size: 25px;
		margin-bottom: 15px;

	}

	footer {
		font-size: 8px;
    	margin-top: -1%;
	}
}